*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    background-color: #000;
}
.container-index
{
    /* height: 100vh; */
    width: 90%;
    margin:15% auto;
    /* height: 60%; */
    line-height: auto;
}
.container-index h1
{
    text-align: center;
    font-size: 3.2em;
    font-style: italic;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.container-index a
{
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
    display: block;
}
.container-index a:hover
{
    color: black;
    background-color: burlywood;
}
.container-index a:active
{
    font-weight: bold;
    background-color: burlywood;
}