*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}
body{
	background-color: #251F1F;
}
.container
{
    max-width: 1000px;
    width:90%;
	margin: auto;
	/* position: relative; */
}
.container h2
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
    font-size: 5em;
    letter-spacing: .3em;
    font-style: italic;
    color: #f2f2f2;
    text-align: center;
}
.cont-img
{
	width: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
.contenedor-imagen
{
	width: 45%;
	height: 350px;
	margin-top:10px;
	/* opacity: .7; */
	display: block;
	border: 5px solid white;
	padding: 5px;
	text-align: center;
}
.imagen
{
	width: 99%;
	height: 100%;
	display: inline;
}
.contenedor-imagen:hover
{
	width: 99%;
	height: auto;
	opacity: 1;
	
}
/* .imagen:hover
{
	opacity: 1;
} */